#firstheader {
    text-align: center;
}
#worning {
    position: relative;
    left:360px;

}
body{
    background-color:lightgrey;
}
dl {
    /*display: flow;*/
    text-align: center;
    position: relative;
    /*left: 360px;*/
    
}
dd{
    padding:0px;
    margin:10px;
    position: relative;
    
}
dt {
    font-size: 25px;
}
#first {
    
    background-color: cornsilk;
    display: inline-block;
    border: groove 3px black;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}
#first dd dt{
    position:relative;
}
#menu {
    font-family: "Lato", sans serif;
}

nav {
    padding: 0 70px 17px 70px;
    height: 80px;
    line-height: 70px;
}

ul {
    list-style: none;
    background-color: lemonchiffon;
    text-align: center;
    margin: 0;
    padding: 0;
    border: groove;
}

li {
    color: black;
    font-size: 16px;
    line-height: 20px;
    width: 80px;
    background-color: palegoldenrod;
    display: inline-block;
    padding: 20px;
    border: groove;
}

li a:hover {
        background-color: darkgoldenrod;
}
nav#menu a {
    text-decoration: none;
    color: #ffffff;
}
#second{
    background-color: cornsilk;
    display: inline-block;
    border: groove 3px black;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}
h1{
    text-align:center;
}
.end {
    text-align: center;
    display: inline-block;
    border: groove 3px black;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    position: relative;
    left:110px;
}
#logo{
    position:relative;
    left:150px;
    bottom:57px;
}
