#menu {
    font-family: "Lato", sans serif;
    position:relative;
    bottom:0px;
    
}
nav {
    padding:0 70px 0 70px;
    height: 80px;
    line-height: 70px;
}
ul{
    list-style:none;
    background-color: lemonchiffon;
    text-align:center; 
    margin:0;
    padding:0;
    border:groove;
}
li{
    color:black;
    font-size:16px;
    line-height:20px;
    width:80px;
    background-color:palegoldenrod;
    display:inline-block;
    padding:20px;
    border:groove;
}
li a:hover{
    background-color:darkgoldenrod;
}
nav#menu a{
    text-decoration:none;
    color:#ffffff;
}
#start {
    text-align: center;
    position: relative;
    left: 170px;
}
#secondstart {
    text-align: center;
    position:relative;
}
#theerdstart {
    text-align: center;
    padding:30px;
}
#starend {
    text-align: center;
    position: relative;
    bottom: 630px;
    left: 170px;
}
body{
    background-color:lightgrey;
}
img{
    display:flex;
    justify-items:flex-start;
    align-content:flex-start;
}
#logo{
    position:relative;
    bottom:40px;
    left:150px;
    
}
h2 {
    position: relative;
    bottom: 560px;
    left:180px;
}
hr{
    width: 390px;
}
#secondstart p {
    position: relative;
    bottom: 560px;
    left: 530px;
    width:620px;
}
#razdelitel {
    position: relative;
    bottom: 540px;
    left: 170px;
}
#theerdstart p {
    position: relative;
    bottom: 580px;
    left: 500px;
    width: 620px;
}
#razdeliteldve {
    position: relative;
    bottom: 610px;
    left: 170px;
}
#razdeliteloriginal {
    position: relative;
    top:10px;
    left: 170px;
}
#mashinata {
    position: relative;
    bottom: 100px;
    width: 430px;
    border: 3px groove black;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}
